<li><time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "20060102T15:04PST" }}{{ end }}</time> - <a href="{{ .Permalink }}">{{ .Title }}</a> -- {{ .Description }}</li>
